body {
	font-family: arial, sans-serif;
}
.header {
	white-space: nowrap;
	flex: auto;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.54);
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	position: relative;
}
#header {
	width: 100%;
	top: 16px;
	/*background: #DEDEDE;*/
	/*z-index: 1;*/
	/*float: right;*/
}
#hcontent {
	min-width: 301px;
	display: flex;
	margin: 0 30px;
	/*float: right;*/
	background: #fff;
}
#hrcontent {
	text-align: left;
	min-width: 120px;
	float: right;
	right: 30px;
	/*clear: both;*/
}
#hlcontent {
	text-align: right;
	line-height: normal;
	margin-right: 15px;
	float: right;
	right: 22px;
}

/*.material-icons {
	color: rgba(0, 0, 0, 0.54);
}*/
.material-icons:hover {
	color: rgba(0, 0, 0, 1)
}
a:hover {
	text-decoration: underline;
}
#gmail, #images {
	/*text-align: right;*/
	/*line-height: 30px;*/
	top: -1px;
	/*color: #000000;*/
}
#gmail {
	right: -4px;
}
#usrname {
	min-width: 60px;
	right: -7px;
}
#apps {
	/*top: -1px;*/
	right: 4px;
	top: 1px;
}
#notification {
	border-radius: 50%;
	background: #DEDEDE;
	color: #DEDEDE;
	height: 20px;
	width: 20px;
	text-align: center;
	top: -1px;
	line-height: 30px;
}
#gmail, #images, #usrimg, #apps, #notification {
	margin-left: 15px;
}
.material-icons.md-18 {
	font-size: 18px;
	top: -2px;
	position: relative;
	/*vertical-align: middle;*/
	/*line-height: 30px;*/
}
#me {
	border-radius: 50%;
	width: 32px;
	height: 32px;
}
#usrimg {
	top: -1px;
	height: 32px;
	width: 32px;
}
.glogo {
	/*display: inline-block;*/
	/*width: 100%;*/
	/*text-align: center;*/
	position: relative;
}
#logo_cont {
	padding-top: 109px;
	height: 92px;
	background: #DEDEDE;
	top: 63px;
	/*position: relative;*/
}
#google {
	/*position: absolute;*/
	/*margin-top: 109px;*/
	/*position: relative;*/
	/*top: 152px;*/
	/*top: 168px;*/
	margin: 168px auto auto auto;
	height: 92px;
	width: 272px;
	background: url("../img/logo.png") no-repeat;
	background-size: 272px 92px;
	/*display: inline;*/
	/*display: block;*/
	/*clear: both;*/
	/*z-index: 1;*/
}
#rus {
	position: absolute;
	color: #4285f4;
	/*left: 215px;*/
	/*top: 76px;*/
	right: 8px;
	bottom: 0;
	text-align: left;
	margin: auto;
}

/*.search {
	text-align: center;
	flex: auto;
	white-space: nowrap;
}
#search-area {
	height: 118px;
	background-color: #DEDE99;
}
#saf, #saf form {
	max-width: 484px;
	border: 0;
	padding: 0;
	height: 38px;
    vertical-align: top;
    margin: auto;
    top: 292px;
}
#voice {
	margin-top: -1px;
	margin-left: 8px;
	margin-right: 8px;
	float: right;
	width: 25px;
	height: 38px;
	line-height: 38px;
	vertical-align: middle;
}
#mc {
	font-size: 24px;
	height: 38px;
	line-height: 38px;
}
#seb {
	width: 484px;
	height: 38px;
	border: 0;
	padding: 0;
}*/
#saf {
	position: relative;
	top: 31px;
	/*color: #dedede;*/
	width: 100%;
	display: inline-block;
	/*height: 48px;*/
	/*margin: auto;*/
	/*overflow: visible;*/
	/*clear: both;*/
}
#seb {
	/*display: block;*/
	height: 36px;
	width: 100%;
	/*max-width: 484px;*/
	/*align: center;*/
	margin: auto;
	border:solid 1px #d9d9d9;
	padding-right: 42px;
	padding-left: 8px;
	/*padding: 0px;*/
	/*border: 1px solid;*/
}
#seb:hover {
	border:solid 1px #b9b9b9;
}
#iform {
	display: block;
	width: 40%;
	min-width: 180px;
	max-width: 600px;
	margin: auto;
	/*margin: auto;*/
	/*display: inline-block;*/
}
.search {
	/*margin: auto;*/
}
#voice {
	position: relative;
	top: -33px;
	right: -41px;
	float: right;
	/*width: 48px;*/
}