.header {
	white-space: nowrap;
	flex: auto;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.54);
	font-size: 13px;
	font-family: arial, sans-serif;
	height: 30px;
	line-height: 30px;
	position: relative;
}
#header {
	width: 100%;
	margin-top: 15px;
	background: #DEDEDE;
}
#hcontent {
	min-width: 301px;
	display: flex;
	margin: 0 30px;
	float: right;
	background: #fff;
}
#hlcontent {
	text-align: right;
	line-height: normal;
	margin-right: 15px;
}
#hrcontent {
	text-align: left;
	min-width: 120px;
}
/*.material-icons {
	color: rgba(0, 0, 0, 0.54);
}*/
.material-icons:hover {
	color: rgba(0, 0, 0, 1)
}
a:hover {
	text-decoration: underline;
}
#usrname, #gmail, #images {
	/*text-align: right;*/
	/*line-height: 30px;*/
}
#usrname {
	min-width: 60px;
}
#notification {
	border-radius: 50%;
	background: #DEDEDE;
	color: #DEDEDE;
	height: 24px;
	width: 24px;
	text-align: center;
	top: -1px;
}
#gmail, #images, #usrimg, #apps, #notification {
	margin-left: 15px;
}
.material-icons.md-18 {
	font-size: 18px;
}
#me {
	border-radius: 50%;
}
#usrimg {
	top: -1px;
}