body {
	font-family: arial, sans-serif;
	position: relative;
}
.header {
	white-space: nowrap;
	flex: auto;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.54);
	font-size: 13px;
	height: 30px;
	line-height: 30px;
	position: relative;
}
#header {
	width: 100%;
	margin-top: 15px;
	background: #DEDEDE;



	position: absolute;
	z-index: 1;
}
#hcontent {
	min-width: 301px;
	display: flex;
	margin: 0 30px;
	float: right;
	background: #fff;
}
#hlcontent {
	text-align: right;
	line-height: normal;
	margin-right: 15px;
}
#hrcontent {
	text-align: left;
	min-width: 120px;
}
/*.material-icons {
	color: rgba(0, 0, 0, 0.54);
}*/
.material-icons:hover {
	color: rgba(0, 0, 0, 1)
}
a:hover {
	text-decoration: underline;
}
#usrname, #gmail, #images {
	/*text-align: right;*/
	/*line-height: 30px;*/
}
#usrname {
	min-width: 60px;
}
#apps, #usrname {
	top: 1px;
}
#notification {
	border-radius: 50%;
	background: #DEDEDE;
	color: #DEDEDE;
	height: 24px;
	width: 24px;
	text-align: center;
	top: -1px;
}
#gmail, #images, #usrimg, #apps, #notification {
	margin-left: 15px;
}
.material-icons.md-18 {
	font-size: 18px;
}
#me {
	border-radius: 50%;
}
#usrimg {
	top: -1px;
}
.glogo {
	display: inline-block;
	width: 100%;
	text-align: center;
	position: relative;
}
#logo_cont {
	margin-top: 89px;
	height: 233px;
	background: #DEDEDE;
	/*position: relative;*/
}
#google {
	/*position: relative;*/
	margin-top: 109px;
	height: 92px;
	width: 272px;
	background: url("../img/logo.png") no-repeat;
	background-size: 272px 92px;
	/*display: inline;*/
	/*display: block;*/
	/*clear: both;*/
	z-index: 1;
}
#rus {
	color: #4285f4;
	left: 215px;
	top: 76px;
	text-align: left;
}
.search {
	text-align: center;
	flex: auto;
	white-space: nowrap;
}
#search-area {
	height: 118px;
	background-color: #DEDE99;
}
#saf, #saf form {
	max-width: 484px;
	border: 0;
	padding: 0;
	height: 38px;
    vertical-align: top;
    margin: auto;
}
#voice {
	margin-top: -1px;
	margin-left: 8px;
	margin-right: 8px;
	float: right;
	width: 25px;
	height: 38px;
	line-height: 38px;
	vertical-align: middle;
	/*position: absolute;*/
}
#mc {
	font-size: 24px;
	height: 38px;
	line-height: 38px;
	/*display: inline-block;*/
}
#seb {
	width: 484px;
	height: 38px;
	border: 0;
	padding: 0;
	/*display: inline-block;*/
}
/*form {
	width: auto;
	height: auto;
}*/